<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        function handleCredentialResponse(response) {
            fetch('/api/verify-login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ idToken: response.credential })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = `success.html#sessionToken=${data.sessionToken}`;
                    } else {
                        alert('Login failed');
                    }
                });
        }
    </script>
</head>

<body>
    <h2>Login to Twitter Video Downloader</h2>
    <div id="g_id_onload" data-client_id="467113654089-8e7dgvod228p6odoa8b06jsv5rd126uj.apps.googleusercontent.com"
        data-callback="handleCredentialResponse"></div>
    <div class="g_id_signin"></div>
</body>

</html>